<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium Automation POC suite" parallel="methods" thread-count="8"
	verbose="1">
	<test name="UI automation">
		<parameter name="browsername" value="${browsername}"></parameter>
		<parameter name="isLambdaTest" value="${isLambdaTest}"></parameter>
		<parameter name="isHeadLess" value="${isHeadLess}"></parameter>
		<parameter name="envname" value="${envname}"></parameter>

		<classes>
			<class name="com.ui.tests.LoginTest" />
			<class name= "com.ui.tests.EndToEndProductCheckoutTest"/>
		</classes>
	</test>
</suite>